<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Sélectionner le type de site</mat-label>
  <mat-chip-list #chipList aria-label="option selection">
    <mat-chip
      *ngFor="let optionSelected of listTypeSiteChosen"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(optionSelected)">
      {{optionSelected}}
      <button matChipRemove *ngIf="removable">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Type de site..."
      #optionInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option  *ngFor="let option of filteredOptions | async" [value]="option.label">
        {{option.label}}
      </mat-option>
  </mat-autocomplete>
</mat-form-field>

